.prices {
	min-height: 608px;
	&__items {
		margin-top: 19px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
		padding-bottom: 55px;
	}

	&__item {
		display: flex;
		margin-top: 15px;
		position: relative;
		width: 265px;
		min-height: 355px;
		border: 1px solid #e9e9e9;
		background-color: #ffffff;
		text-align: center;
		@media (max-width: 1200px) and (min-width: 768.5px) {
			flex: 0 0 35%;
		}
	}

	&__header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 61px;
		background-color: #25333c;
		h4 {
			margin-top: 20px;
			color: #ffffff;
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	&__body {
		margin-top: 75px;
	}

	&__img {
		margin: 0 auto;
		width: 60px;
		height: 60px;
		img {
			width: 100%;
		}
	}

	&__delivery {
		margin-top: 12px;
		color: #2e2e2e;
		text-transform: uppercase;
	}

	&__price {
		margin-top: 5px;
		color: #ec644b;
		font-size: 28px;
	}

	&__desc {
		margin-top: 19px;
		color: #2e2e2e;
		font-weight: 300;
		line-height: 20px;
	}
}
